* {
    font-family: $font;
}


.navbar {
background-color: #f2e6df;
border-radius: 25px;
}

//car icon
i[class^="fas"] {
  color: $brand-red;
  transition: transform 3s ease-in-out;
  margin-left: 5%;
}

#car-container:hover .move-right {
  @include large-screen {
    transform: translate(150vh,0) rotate(-20deg);
    -webkit-transform: translate(150vh,0) rotate(-20deg); /** Chrome & Safari **/
    -o-transform: translate(150vh,0) rotate(-20deg); /** Opera **/
    -moz-transform: translate(150vh,0) rotate(-20deg); /** Firefox **/
  }
  @include small-screen {
    transform: translate(40vh,0) rotate(-20deg);
    -webkit-transform: translate(40vh,0) rotate(-20deg); /** Chrome & Safari **/
    -o-transform: translate(40vh,0) rotate(-20deg); /** Opera **/
    -moz-transform: translate(40vh,0) rotate(-20deg); /** Firefox **/
  }
}

//footer
.universal-footer {
    text-align: center;
    margin: 0% 5%;
  .footer-link {
    text-decoration: none;
  }
  .footer-image {
    @include large-screen {
      width: 10%;
    }
    @include small-screen {
      width: 30%;
    }
  }
}
